.my-page_user-name {
    text-align: center;
    font-size: 34px;
    margin: 0 auto 15px;
}

.my-page__inner-reservation {
    width: 38%;
    margin-left: 7%;
}

.my-page__reservation-status {
    font-weight: bold;
    font-size: 24px;
    margin: 0px 0 15px 5px;
}

.reservation-status__inner {
    width: 290px;
    border-radius: 5px;
    background-color: rgb(63, 102, 242);
    box-shadow: 3px 3px 5px rgb(119, 118, 118);
    margin: 0 15px 20px 15px;
}

.reservation-table__header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.reservation-number {
    display: flex;
    background-color: rgb(63, 102, 242);
}

.reservation-number__inner {
    width: 70px;
    color: #fff;
    margin: 17px 0;
}

.clock-img {
    color: rgb(63, 102, 242);
    background-color: rgb(63, 102, 242);
    margin: 18% 20% 0 0;
}

.cancel-reservation {
    background-color: rgb(63, 102, 242);
    border: none;
    cursor: pointer;
    margin-top: 40%;
}

.reservation-table__inner {
    margin-left: 5%;
}

.reservation-table__row {
    line-height: 30px;
}

.reservation-table__data,
.reservation-table__head {
    color: #fff;
}

.reservation-table__head {
    width: 50%;
    font-weight: normal;
    text-align: left;
}

.reservation__some-btn {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 0;
    padding-bottom: 3%;
}

.reservation__modification-btn a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(22, 70, 243);
    padding: 5px 6px;
    border: 1px solid;
}

.restaurant__review-btn a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(22, 70, 243);
    padding: 5px 6px;
    border: 1px solid;
}

.reservation__qr-btn-submit {
    background-color: rgb(22, 70, 243);
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font: inherit;
}


.return-page__btn-submit {
    border-radius: 5px;
    display: block;
    margin: 0 18px 0 0;
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 3% 0 0 21%;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
}

.return-page__wrap{
    display: flex;
    justify-content: left;
    margin-left: 7%;
}

.reservation-list{
    display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        margin: 0 5%;
}
.reservation-table{
    padding-bottom: 15px;
}


.my-page__inner-restaurant {
    width: 55%;
}

.my-page__favorite-restaurants {
    font-size: 24px;
    font-weight: bold;
}

.favorite-btn {
    border: none;
    /* ボーダーを削除 */
    background: none;
    /* 背景を透明に */
    cursor: pointer;
    /* カーソルをポインターに */
    outline: none;
}

.restaurant-list-card {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    margin: 0 5% 30px 0;
}

.restaurant-list-card__content-name {
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0 0 20px;
}

.restaurant-list-card__img img {
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.restaurant-list-card__content-tag {
    display: flex;
    justify-content: left;
    margin: 0 0 10px 20px;
    font-size: 13px;
    line-height: 0;
}

.restaurant-list-card__content-tag-item {
    margin-right: 3px;
}

.restaurant-list-card__content-btn {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px 45px 20px;
}

.restaurant-detail__btn {
    border-radius: 5px;
    background-color: rgb(22, 70, 243);
    text-decoration: none;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
}

.restaurant-list-card__wrap {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;

}


.modal {
    display: none;
    /* 初期状態では非表示 */
    position: fixed;
    /* モーダルがスクロールに追従 */
    z-index: 1;
    /* モーダルが他の要素の上に表示される */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* スクロールバーを有効にする */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景を半透明にする */
}

.modal-content {
    background-color: #fefefe;
    /* モーダル内のコンテンツの背景色 */
    margin: 15% auto;
    /* 上部から15%、横方向は自動マージン */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* コンテンツの幅 */
}