.restaurant-edit__title{
    text-align: center;
    
}
.restaurant-edit__title-inner{
    margin:0 auto ;
    font-size: 29px;

}

.restaurant__detail-reservation {
    display: flex;
    /* justify-content: space-around; */
}

.restaurant-detail {
    width: 50%;
    margin-left: 6%;
}

.reservation-form {
    width: 50%;
    margin-right: 6%;
}

.restaurant-detail__header {
    display: flex;
    align-self: center;
    line-height: 24px;
}

.return-page__btn-submit {

    border-radius: 5px;
    display: block;
    margin: 0 18px 0 0;
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 3% 0 0 21%;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
}

.restaurant-detail-name__inner {
    margin-top: 4px;
    font-size: 29px;
}

.restaurant-detail-img img {
    width: 90%;
}

.restaurant__tag {
    display: flex;
}

.restaurant-tag-item {
    margin-right: 5px;
}

.restaurant__content {
    width: 90%;
}

.reservation-form {
    width: 45%;
    height: 680px;
    border-radius: 5px;
    background-color: rgb(63, 102, 242);
    position: relative;
    top: -80px;
    box-shadow: 3px 3px 5px rgb(119, 118, 118);
}

.reservation-form__title {
    color: #fff;
    margin: 5% 0 0 3%;
    font-size: 20px;
    font-weight: bold;
}

.reservation-form__item-input-date {
    display: block;
    margin: 2% 0 0 3%;
    width: 35%;
    border-radius: 5px;
    border: none;
    line-height: 23px;
}

.reservation-form__item-input {
    display: block;
    margin: 2% 0 0 3%;
    width: 85%;
    border-radius: 5px;
    border: none;
    line-height: 23px;
}

.error-message {
    margin: 1% 0 0 3%;
    color: #fff;
}


.reservation-confirm__inner {
    width: 85%;
    border-radius: 5px;
    background-color: rgb(108, 151, 249);
    color: #fff;
    margin: 4% 0 0 3%;
}

.confirm-container {
    display: flex;
    margin: 1% 0 1% 2%;
    line-height: 0px;
}


.confirm-d {
    margin-left: 15%;
}

.confirm-d-n {
    margin-left: 10%;
}

.reservation-btn {}

.reservation-btn__submit {
    position: absolute;
    width: 100%;
    background-color: rgb(22, 70, 243);
    border-radius: 0 0 5px 5px;
    border: none;
    color: #fff;
    line-height: 40px;
    margin-top: 50%;
    cursor: pointer;
    top: 50%;


    /* 左方向に20px移動 */
}

.representative-name{
    margin-left: 40%;
}


.restaurant-edit__title-inner {
    text-align: center;
    margin:0 auto 0;
    font-size: 29px;
}


.restaurant-edit__form{
    width: 38%;
}

.restaurant-edit__form-inner{
    width: 100%;
    display: block;
    margin: 15px auto 0;
    border-radius: 5px;
    background-color: rgb(63, 102, 242);
    box-shadow: 3px 3px 5px rgb(119, 118, 118);
    padding: 30px;
}

.table-head {
    color: #fff;
    margin-right: 10px;
}

.table-head__content {
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
}

.table-data {
    margin-left: 20px;
    display: inline-block;
    line-height: 30px;
    color: #fff;
}

.table-data__content {
    margin-left: 20px;
    display: inline-block;
    line-height: px;
    margin-top: 5px;
}

.restaurant-image,
.restaurant-genre,
.restaurant-area,
.restaurant-name,
.representative_id {
    width: 300px;
    height: 30px;

}

.restaurant-content {
    width: 300px;
}

.restaurant-edit__form-button{
    display: flex;
    justify-content:center;
}
.restaurant-edit__form-button-submit {
    margin: 15px auto 0;
    display: block;
    color: #fff;
    background-color: rgb(22, 70, 243);
    border: 1px solid #fff;
    border-radius: 5px;
    width: 65px;
    height: 30px;
    cursor: pointer;
}

.restaurant-edit__form-course-button{
    margin: 15px auto 0;
    display: block;
    color: #fff;
    background-color: rgb(22, 70, 243);
    border: 1px solid #fff;
    border-radius: 5px;
    width: 95px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    padding:2px 0 0 7px;
 }

.restaurant-edit-form__error-message {
    color: rgb(255, 43, 43);
}


/* .representative-name,
.representative-name__inner {
    width: 150px;
} */
.table-row{
    width: 100%;
}



 @media screen and (min-width:921px) and (max-width: 1140px) {

.representative-name {
        margin-left: 30%;
    }

.table-row {
    width: 100%;
    display: inline-block;
}
}

@media screen and (min-width:769px) and (max-width: 920px) {

    .restaurant-detail {
            display: flex;
            width: 100%;
        }
    
        .restaurant-edit__form-inner {
            width: 80%;
            display: block;
            margin: 15px auto 15px;
            border-radius: 5px;
            background-color: rgb(63, 102, 242);
            box-shadow: 3px 3px 5px rgb(119, 118, 118);
            padding: 30px;
        }
    
        .representative-name {
            margin-left: 4%;
        }
    
        .restaurant__detail-reservation {
            display: block;
            
        }
    
        .area-genre-content_wrap {
            width: 80%;
            margin-right: 40px;
        }
    
        .detail-left {
            width: 75%;
        }
    
        .restaurant__tag {
            display: flex;
            margin-left: 15px;
        }
    
        .representative-name,
        .representative-name__inner {
            font-size: 14px;
        }
    
        .restaurant-edit__title-inner {
            text-align: center;
            margin: 20px auto 0px;
            font-size: 29px;
        }
    
        .restaurant-edit__form {
            width: 100%;
        }

        .restaurant-content {
            width: 430px;
        }

        .restaurant-image,
        .restaurant-genre,
        .restaurant-area,
        .restaurant-name,
        .representative_id{
            width: 430px;
            height: 30px;
        }
}

@media screen and (max-width: 768px) {

    .restaurant-detail {
        display: flex;
        width: 100%;
    }

    .restaurant-edit__form-inner {
        width: 80%;
        display: block;
        margin: 15px auto 15px;
        border-radius: 5px;
        background-color: rgb(63, 102, 242);
        box-shadow: 3px 3px 5px rgb(119, 118, 118);
        padding: 30px;
    }

    .representative-name {
        margin-left: 4%;
    }

    .restaurant__detail-reservation {
        display: block;
       
    }

    .area-genre-content_wrap {
        width: 80%;
        margin-right: 40px;
    }

    .detail-left {
        width: 75%;
    }

    .restaurant__tag {
        display: flex;
        margin-left: 15px;
    }

    .representative-name,
    .representative-name__inner {
        font-size: 14px;
    }

    .restaurant-edit__title-inner {
        text-align: center;
        margin: 20px auto 0px;
        font-size: 29px;
    }

    .restaurant-edit__form {
        width: 100%;
    }

    .table-row {
        width: 100%;
        
    }

    .restaurant-detail-name__inner {
        margin-top: 4px;
        font-size: 20px;
    }
}