.role-change__title{
    text-align: center;
        margin: 0 auto;
}

.user-role__table{
    border-radius: 5px;
    background-color: rgb(63, 102, 242);
    width: 45%;
    margin: 0 auto;
    padding-bottom: 15px;
}
.user-role__table-inner{
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.user-role__table-item{
    margin: 10%;
}
.role-table__row{
    line-height: 50px;
    border-bottom: 1px solid;
}
.role-table__head-id, .role-table__head-btn{
    width: 20%;
}
.role-table__head{
    width: 34%;
}
.role-table__data{}

.role-change__btn{
    background-color: rgb(22, 70, 243);
        border: 1px solid;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        margin: 3% auto 5%;
        text-align: center;
        display: block;
        cursor:pointer;
}




.pagination {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
}

.pagination li {
    list-style: none;
}

.disabled span {
    margin: 0 1px;
    color: blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: white;
    font-size: 16px;
}

.active span {
    margin: 0 1px;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: rgb(53, 53, 250);
    font-size: 16px;
}

.pagination a {
    margin: 0 1px;
    color: blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: white;
    font-size: 16px;
}



.pagination a:hover:not(.active) {
    background-color: #ddd;
}


.mail-create__btn-submit{
    text-decoration: none;
    display: block;
    background-color: rgb(22, 70, 243);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    width: 80px;
    padding: 10px 0px 0 5px;
    margin: 0px 20% -40px auto;
}